@page
@model PrivacyModel
@{
    ViewData["Title"] = "History Page";
}
<style>
    h2 {
        background-color: #F4C542;
        text-align: center;
        padding: 15px;
    }

    p {
        background-color: #FAF0E6;
        text-align: start;
    }
</style>

<h1 class="text-center">@Model.Content.Title</h1>

<h2>@Model.Content.Section1Title</h2>
<p>@Model.Content.Section1Content</p>

<h2>@Model.Content.Section2Title</h2>
<p>@Model.Content.Section2Content</p>

<h2>@Model.Content.Section3Title</h2>
<p>@Model.Content.Section3Content</p>